<!DOCTYPE html>
<html>
<body >
    <div id="topBar">
        <div>
            <a ng-click="$goBack()"><img id="backButton" ng-src="img/back.png"></a>
        </div>


        <div>
            <div ng-show="state.is('Default')">
                <h1>Proud Parent</h1>
            </div>
            <div ng-show="state.is('Home')">
                <h1>Child Name</h1>

            </div>
            <div ng-show="state.is('Album')">
                <h1>Album Name</h1>
            </div>
            <div ng-show="state.is('Share')">
                <h1>Share</h1>
            </div>
            <div ng-show="state.is('Camera')">
                <h1>Take Picture</h1>
            </div>

        </div>
    </div>
</body>
</html>