<!DOCTYPE html>
<html>
<body>
    <div ng-controller="menuCtrl">
        <a ng-click="$goBack()"><img id="backButton" ng-src="img/back.png"></a>
        <h1>Add Leaf</h1>
    </div>
    <div id="main">
        <form action="demo_form.asp">
            <div>
                <img id="albumBkg" ng-src="{{background}}">
            </div>
            <div>
                <input id="albumPic" type="image" name="albumPic">
            </div>
            <div>
                <input id="albumText" type="text" name="story">
            </div>
            <div id="submitBar">
                <input id="saveAlbum" type="submit" value="Submit">
            </div>
        </form>
</div>

    
       

</body>
</html>