<!DOCTYPE html>
<html>
<body>
    <div ng-controller="menuCtrl">
        <a ng-click="$goBack()"><img id="backButton" ng-src="img/back.png"></a>
        <h1>Add Leaf</h1>
    </div>
    <div>
        <ul id="addAlbum">
            <li><a ui-sref="Camera" style="color: #b7c68b"><h3><i class=" fa fa-camera fa-5x"></i></h3></a></li>
            <li>Capture Moment</li>
            <li><a ui-sref="Camera" style="color: #b7c68b"><h3><i class=" fa fa-upload fa-5x"></i></h3></a></li>
            <li>Upload</li>
            <li><a ui-sref="Home" style="color: #b7c68b"><h3><i class=" fa fa-heart fa-5x"></i></h3></a></li>
            <li>View Albums</li>
        </ul>
    </div>

</body>
</html>
