<body>
    <div id="main">
        <div id="bkgContainer" ng-controller="mediaCtrl">
            <a ng-click="setBackground(Navy-Chevron)"><img id="bkg" src="img\Navy-Chevron.jpg"></a>
            <a ng-click="setBackground(5-Abstract-Simple-Patterns-with-PSD-Pat-File-thumb04)"><img id="bkg" src="img\5-Abstract-Simple-Patterns-with-PSD-Pat-File-thumb04.jpg"></a>
            <a ng-click="setBackground(sunlight)"><img id="bkg" src="img\sunlight.jpg"></a>
            <a ng-click="setBackground(grey_vertical_stripes)"><img id="bkg" src="img\grey_vertical_stripes.jpg"></a>
            <a ng-click="setBackground(snowflake-pattern)"><img id="bkg" src="img\snowflake-pattern.jpg"></a>
            <a ng-click="setBackground(tile)"><img id="bkg" src="img\tile.jpg"></a>
            <a ng-click="setBackground(blocks)"><img id="bkg" src="img\blocks.jpg"></a>
            <a ng-click="setBackground(chevron.bleu.cpm027_1)"><img id="bkg" src="img\chevron.bleu.cpm027_1.jpg"></a>            
            <a ng-click="setBackground(green dots)"><img id="bkg" src="img\green dots.jpg"></a>
            <a ng-click="setBackground(wide-chevron-yellow)"><img id="bkg" src="img\wide-chevron-yellow.jpg"></a>
        </div>
    </div>
</body>