<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Add Background</h1>

    <div>
        <ul>
            <li ><a ui-sref="Camera"><img id=" bkg" src="img\Navy-Chevron.jpg"></a></li>
            <li ><a ui-sref="Camera"><img id=" bkg" src="img\5-Abstract-Simple-Patterns-with-PSD-Pat-File-thumb04.jpg"></a></li>
            <li id=" bkg"><a ui-sref="Camera"><img src="img\chevron.bleu.cpm027_1.jpg"></a></li>
            <li id=" bkg"><a ui-sref="Camera"><img src="img\grey_vertical_stripes.jpg"></a></li>
            <li id=" bkg"><a ui-sref="Camera"><img src="img\snowflake-pattern.jpg"></a></li>
            <li id ="bkg"><a ui-sref="Camera"><img src="img\tile.jpg"></a></liid>
            <li id =" bkg"><a ui-sref="Camera"><img src="img\wide-chevron-yellow.jpg"></a></li>
        </ul> 
    </div>
</body>
</html>