<div id="main">
    <div id="trees">
        <img id="lBranch" ng-src="img/greenTree.PNG">
        <img id="rBranch" ng-src="img/greenTree.PNG">
    </div>
    <div class="addKidArea" ng-controller="addKidCtrl">
        <form id="addKidForm">
            <label>Name: <input type="text" ng-model="childInfo.name" required/></label><br />
            <label>Birthday: <input type="date" placeholder="Password" ng-model="childInfo.bday"></label><br />
            <br />
            <!--<label><input name="uName" placeholder="Email" required /></label><br />
            <label><input name="pword" placeholder="Password" required /></label><br />-->
            <button ng-click='addChild(childInfo)'>Add</button>
            <!--<input type="button" value="Log In" onclick="authenticateEmail(this.form)">-->
        </form>
    </div>
</div>
