<body>
    <div>
        <div ng-controller="menuCtrl">
            <a ng-click="$goBack()"><img id="backButton" ng-src="img/back.png"></a>
            <h1>{{kidsName}}</h1>
        </div>
        <div id="main" ng-controller="mediaCtrl">
            <img id="tree" src="img\tree.png">

        </div>
        <img id="tree" src="img\tree.png">

        <!--Write function to get/list all kids-->
        <div id="leafContainer" ng-controller="mediaCtrl">
            <div ng-repeat="stuff in left" class="left">
                <div style="float: right">
                    <a ng-click="showAlbum(stuff.id, stuff.name, stuff.date)">{{stuff.name}}<img id="leaf" src="img\greenLeaf.png"></a>
                </div>
            </div>
            <div ng-repeat="stuff in right" class="right">
                <a ng-click="showAlbum(stuff.id, stuff.name, stuff.date)">{{stuff.name}} <img id="leaf" src="img\greenLeaf.png"></a>
            </div>
        </div>

        <!--<ul id ="leafContainer">
             the following are just place holders for the albums to be added
            <li ><img id="leaf" src="img\greenLeaf.png"> </li>
            <li > <img id="leaf" src="img\mustardLeaf.png"> </li>
            <li > <img id="leaf" src="img\greenLeaf.png"> </li>
        </ul>-->
    </div>
</body>
