<body>
    <div>
        <div ng-controller="menuCtrl">
            <a ng-click="$goBack()"><img id="backButton" ng-src="img/back.png"></a>
            <h1>{{kidsName}}</h1>
        </div>

        <img id="tree" src="img\tree.png">
  
        <ul id ="leafContainer">
            <!-- the following are just place holders for the albums to be added -->
            <li ><img id="leaf" src="img\greenLeaf.png"> </li>
            <li > <img id="leaf" src="img\mustardLeaf.png"> </li>
            <li > <img id="leaf" src="img\greenLeaf.png"> </li>
        </ul>
    </div>
</body>
