<body>
    <h1>ProudParent</h1>
    <!--Figure out how to log in-->
    <form>
        <div id="logInArea">
            <p>
                <label><input name="userName" placeholder="Email" required /></label><br />
                <label><input name="password" placeholder="Password" required /></label><br />
                <button>Log In</button>
            </p>
            <p>New? <a>Create account</a></p>
        </div>
    </form>
    <a ui-sref="ChooseKid">Select a Kid (temp)</a>


</body>
