<body>
    <h1>Log In</h1>
    <!--Figure out how to log in-->
    
        <div class="accountArea" ng-controller="logIn">
            <form id="logInForm">
                <input type="email" placeholder="Email" ng-model="log.uName" />
                <input type="password" placeholder="Password" ng-model="log.pword">
                <!--<label><input name="uName" placeholder="Email" required /></label><br />
                <label><input name="pword" placeholder="Password" required /></label><br />-->
                <button ng-click='authenticate(log)'>Log In</button>
                <!--<input type="button" value="Log In" onclick="authenticateEmail(this.form)">-->
            </form>
            <p>New? <a ui-sref="SignUp">Create account</a></p>
        </div>
</body>
