
<body>
    <div id="main">
        <div id="share">
            <button onclick="window.plugins.socialsharing.shareViaTwitter('Message via Twitter')"><img id="Twitter" src="img\twitter.png"></button>
        </div>
        <div id="share">
            <button onclick="window.plugins.socialsharing.shareViaFacebook('Message via Facebook', null /* img */, null /* url */, function() {console.log('share ok')}, function(errormsg){alert(errormsg)})"><img id="Facebook" src="img\Facebooklogo.png"></button>
        </div>
    </div>
</body>
