<body>
    <h1>ProudParent</h1>
    <div class="accountArea">
        
        <form id="signUpForm">
            <label>First Name: <input name="fName" required /></label>
            <label>Last Name: <input name="lName" required /></label>
            <label>Email:<input name="uName" required /></label>
            <br />
            <label>Password: <input name="pword" required /></label>
            <br />
            <input type="button" value="Sign Up" onclick="signUp(this.form)">
        </form>
        
    </div>
</body>
