
<div id="topBar">
    <div>
        <a ng-click="$goBack()"><img id="backButton" ng-src="img/back.png"></a>
    </div>
    <div>
        <div ng-show="state.is('ChooseKid')">
            <h1>Hi {{name}}!</h1>
        </div>
        <div ng-show="state.is('Home')">
            <h1>{{kidsName}}</h1>
        </div>
        <div ng-show="state.is('Album')">
            <h1>{{albumName}}</h1>
        </div>
        <div ng-show="state.is('Share')">
            <h1>Share</h1>
        </div>
        <div ng-show="state.is('Camera')">
            <h1>Take Picture</h1>
        </div>
        <div ng-show="state.is('Add')">
            <h1>Add to Album</h1>
        </div>
        <div ng-show="state.is('SignUp')">
            <h1>Hello</h1>
        </div>
        <div ng-show="state.is('AddKid')">
            <h1>Add Offshoot</h1>
        </div>
        <div ng-show="state.is('AddBackground')">
            <h1>Select Background</h1>
        </div>
    </div>
</div>
