/* BOTTOM MENU   
----------------------------------------------------------*/
#menu ul
{
    padding: 0px;
    margin: 0px;
}

#menu li {
    display: inline;
    padding-left: 1em;
    padding-right: 1em;
}

#menu {
    color: #fff;
    background-color: #574123;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

#topBar {
    width:100%;
    height: 60px;
    background-color: #574123;
    padding-top:5px;
    padding-bottom: 5px;
    position: relative;
    display: inline-block;
    z-index: 50;
}
#backButton {
    position: absolute;
    left: 0px;
    width: 30px;
    z-index:-10;

}
h1 {/*Reserving for title of page*/
    color: #fff;
    top: 0px;
    left: 50px;
    width: auto;
    position: relative;
    text-align: center;
    z-index: 100;
}