/* BOTTOM MENU   
----------------------------------------------------------*/
#menu ul
{
    padding: 0px;
    margin: 0px;
}

#menu li {
    display: inline;
    padding-left: 1em;
    padding-right: 1em;
}

#menu {
    color: #fff;
    background-color: #574123;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

#topBar {
    width:100%;
    height: 60px;
    top: 0px;
    background-color: #574123;
    position: absolute;
    z-index: -10;
 
}
#backButton {
    position: fixed;
    top: 15px;
    left: 0px;
    width: 30px;
    z-index: 50;

}
h1 {/*Reserving for title of page*/
    color: #fff;
    top: -5px;
    width: 100%;
    position:  relative;
    text-align: center;
<<<<<<< HEAD
}

/* LOG IN PAGE   
----------------------------------------------------------*/
#logInArea {
    background-color: #b7c68b;
    padding: 1em;
    margin: 1em 2em;
    text-align: center;
}

#logInArea a {
    color: white;
=======
    font-family: "Lobster", sans-serif;
}

#li {
    list-style-type: none;
}
#buttonText{
    list-style-type: none;
>>>>>>> bb7bcee550cb1413f965c6c6bc0d49f77ac10282
}